<html>
<body>
<script src="./benchmark/js/jquery.min.js"></script>
<script src="./benchmark/js/highcharts.js"></script>

{{#chart}}
<div id="chart-{{id}}" style="height: 300px"></div>
<script>
$(function () {
    $('#chart-{{id}}').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: '{{title}}'
        },
        yAxis: {
            title: {
                text: 'Sorted elements / time [microseconds]'
            }
        },
        series: {{{series}}},
    });
});
</script>
{{/chart}}

</body>
</html>
